*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    }

#container {
    max-width: 1440px;
    height: auto;
    background: url("images/bg-desktop.svg"), hsl(257, 40%, 49%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white; 
    }
#grid{
    margin: 0 auto;
    width: 90%;
    border: 2px solid black;
    display: grid;

    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 150px 600px 150px ;
}

p {
   font-size: 0.7rem;
}


#logo {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
    z-index: 10; 
}

.image {
    grid-column-start: 1; 
    grid-column-end: 2; 

    grid-row-start: 2; 
    grid-row-end: 3; 
    width:100%;
    
}
.words {
    grid-column-start: 3; 
    grid-column-end: 4;
    grid-row-start: 2; 
    grid-row-end: 3; 
}



h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}









