*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    }

main {
    width: 100vw;
    height: 100vh;
    background: url("images/bg-desktop.svg"), hsl(257, 40%, 49%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    /* border: 7px solid black; */
}
div{
    border: 2px dotted black;
    margin: 0 auto;
    order: 2;
    display: flex;
    flex-direction: row;
    width:90%; 
    justify-content: space-between;
}
#image {
    border: 2px solid black;
    flex: 1;

    }

article {
    flex :1;
    margin-left: 15px;
    border: 2px solid black;
}

h1{
    font-family: 'Poppins', sans-serif;
}

footer {
    width: 100%;
    border: 2px dotted black;
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


#logo{
    border: 2px dotted black;
    height: 8%;
    order: 1;
    align-self: start;
    margin: 14px;
    padding: 5px;
}

#button {
    color: hsl(257, 40%, 49%);
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 40px;
    margin-top: 12px;
}               