*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    }

#container {
    max-width: 1440px;
    height: auto;
    background: url("images/bg-desktop.svg"), hsl(257, 40%, 49%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white; 
    }
#grid{
    margin: 0 auto;
    width: 90%;
    border: 2px solid black;
    display: grid;

    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 5rem 21rem 4rem ;
}

p {
   font-size: 0.8rem;
}

article {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#logo {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
    z-index: 10; 
    height: 2rem;
    align-self: center;
}

.image {
    grid-column-start: 1; 
    grid-column-end: 2; 

    grid-row-start: 2; 
    grid-row-end: 3; 
    width: 30rem;
    height: 100%;
    border: 2px solid black;
    
    
}

.image img {
    width: 28rem;
    height: auto;
}
.words {
    grid-column-start: 3; 
    grid-column-end: 4;
    grid-row-start: 2; 
    grid-row-end: 3; 
    width: 30rem;
    height: 100%;
    border: 2px solid black;
}



h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: end;
}

.fa {
    font-size: 120px;
    
}






